body {
    background-color: #131416;
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  
  nav li {
    display: inline;
    margin-right: 25px;
    border-bottom: 1px solid #F08C46;
  }
  nav li:hover {
    color: #F08C46;
  }
  .title h1 {
    font-size:25px;
    margin-top: 25px;
    margin-bottom: 25px;
    
  }
  .articles-list {
    display: flex;
    gap: 24px;
  }
  
  .articles-list li {
    width: 300px;
    padding: 16px;
    background-color: #252525;
  }
  
  .articles-list h2 {
    margin-bottom: 16px;
    font-size:20px;
  }

  .articles-list h3 {
    display: block;
    margin: 25px 0;
  }

  .articles-list h4 {
    display: flex;
    justify-content: end;
    margin-top: auto;
  }

  .footer p {
    text-align: center;
    margin-top: 25px;
  }